<div class="container">
  <section class="login-box">
    <div class="login-sub-box">
      <h2 class="mat-title">Reset Password</h2>
      <form name="registerform" (ngSubmit)="pf.form.valid && resetPassword()" #pf="ngForm" novalidate>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" matInput placeholder="Enter new password" name="password"
            [(ngModel)]="password.newPassword" #np="ngModel" [ngClass]="{'is-invalid' : pf.submitted && np.invalid}"
            required>
        </mat-form-field>
        <div *ngIf="pf.submitted && np.invalid" class="invalid-feedback">
          <div *ngIf="np.errors.required">Password is required</div>
        </div>


        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput placeholder="Confirm your password" name="cpassword"
            [(ngModel)]="password.confirmPassword" #cp="ngModel" [ngClass]="{'is-invalid' : pf.submitted && cp.invalid}"
            required>
        </mat-form-field>
        <div *ngIf="pf.submitted && cp.invalid" class="invalid-feedback">
          <div *ngIf="cp.errors.required">Confirm password is required</div>
        </div>
        <div class="actionbtns ">
          <button mat-raised-button class="primarybtn" type="submit">Save</button>
        </div>
      </form>
    </div>
  </section>
</div>

