<app-header></app-header>
<div class="container">
	<div class=" user_profile">
		<div class=""><img class="rounded-circle " src="assets/userimgs/user.jpeg" alt="userimg">

		</div>
		<!-- <div class="user_Details mat-typography">
      <h3 class="mat-title ">Usama Ch </h3>
      <h4 class="mat-subheading-1 ">Balance: $55.00</h4>
    </div> -->
	</div>


	<section class="mt-5  flex">

		<div class="search_app">

			<div class="app_search">
				<form class="userform" (ngSubmit)="f.form.valid && searchAppReviews()" #f="ngForm" novalidate>
					<mat-form-field class="example-full-width" appearance="outline">
						<mat-label>Search App</mat-label>
						<input type="text" matInput placeholder="Enter app name" name="name" [(ngModel)]="searchText"
							#name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
					</mat-form-field>
					<div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
						<mat-hint *ngIf="name.errors.required">App name is required for search
						</mat-hint>
					</div>

					<div class="actionbtns">
						<button mat-raised-button class="primarybtn" type="submit">Search</button>
					</div>
				</form>
			</div>

			<button *ngIf="isData" mat-raised-button class="primarybtn" type="button" (click)="showDetails()">
				Show Details
			</button>
			<br />
			<br />
			<small *ngIf="isData">Charges for more user details are {{cost}} credits per user. This search will cost
				{{totalCost}} credits.</small>

			<br />
			<div class="example-container mat-elevation-z8" tabindex="0" *ngIf="isData" style="margin-top:10px;">
				<table [cellSpacing]="0" *ngIf="isData">
					<thead>
						<tr>
							<!-- <th>id</th> -->
							<th>User Name</th>


						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let item of dataSource | paginate: { itemsPerPage: entries, currentPage: page }; let i = index">
							<!-- <td>{{i}}</td> -->
							<td>{{item.username}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row mt-1 pagination" *ngIf="dataSource">
					<div class="col-12">
						<pagination-controls (pageChange)="page = $event" style="text-align: center">
						</pagination-controls>
					</div>
				</div>

			</div>
		</div>

		<div class="detail_reviews" *ngIf="isDetail">
			<mat-card>
				<mat-card-content>
					<div class="p_data">

						<table [cellSpacing]="0">
							<thead>
								<tr>
									<!-- <th><input id="parent-box" type="checkbox" name="parent" [(ngModel)]="selectedAll"
                      (change)="checkAll($event);"></th> -->
									<th>User</th>
									<th>Country</th>
									<th>Contact</th>
									<th>Action</th>


								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of allUsers">
									<!-- <td> <input tabindex="0" type="checkbox" id="{{item._id}}" value="{{ item.contact }}"
                      (change)="singleCheck($event)">
                    <input type="hidden" name="contactNo" id="contactNo_{{item._id}}" value="{{item.contact}}">
                  </td> -->
									<td>{{item.username}}</td>
									<td>{{item.country}}</td>
									<td>{{item.contact}}</td>
									<td> <button *ngIf="isData" mat-raised-button class="primarybtn" type="button"
											(click)="sendSms(item)">Send
											Sms</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</section>
</div>
<app-footer></app-footer>


<!-- <app-header></app-header>
<div class="container">
  <div class=" user_profile">
    <div class=""><img class="rounded-circle " src="assets/userimgs/user.jpeg" alt="userimg">

    </div>
    <div class="user_Details mat-typography">
      <h3 class="mat-title ">John Smith </h3>
      <h4 class="mat-subheading-1 ">Сompany Representative</h4>
    </div>
  </div>

  <section class="mt-5  flex">
    <div class="search_app">


      <form class="userform" (ngSubmit)="f.form.valid && searchAppReviews()" #f="ngForm" novalidate>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search App</mat-label>
          <input type="text" matInput placeholder="Enter app name" name="name" [(ngModel)]="searchText" #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
        </mat-form-field>
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <mat-hint *ngIf="name.errors.required">App name is required for search
          </mat-hint>
        </div>

        <div class="actionbtns ">
          <button mat-raised-button class="primarybtn" type="submit">Search</button>
        </div>
      </form>



      <div class="actionbtns " *ngIf='isData'>
        <button mat-raised-button class="primarybtn" type="button" (click)="showDetails()">Show Details</button>
      </div>


      <div class="example-container mat-elevation-z8" tabindex="0">
        <div class="search_produts">


          <input type="text" matInput placeholder="Search apps, reviews..." class="example-full-width"
            appearance="outline">
          <mat-icon>search</mat-icon>
        </div>



        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf='isData'>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
    <div class="detail_reviews">
      <mat-card>
        <mat-card-content>
          <div class="p_data">
            <div class="pimg">
              <img src="assets/userimgs/2.png" alt="product img">
            </div>
            <div class="pdes">
              <h5 class="mat-display-1">User's Detail</h5>
            </div>

            <P>Total users {{allUsers.length}}</P>
            <P>Total select {{userSelect.length}}</P>
        
            <table>
              <tr>
                <th><input id="parent-box" type="checkbox" name="parent" [(ngModel)]="selectedAll"
                    (change)="checkAll($event);"></th>
                <th>User Name</th>
                <th>Country</th>
                <th>Contact</th>
              </tr>

              <tr *ngFor="let item of allUsers">
                <td> <input tabindex="0" type="checkbox" id="{{item._id}}" value="{{ item.contact }}"
                    (change)="singleCheck($event)">
                  <input type="hidden" name="contactNo" id="contactNo_{{item._id}}" value="{{item.contact}}">
                </td>
                <td>{{item.username}}</td>
                <td>{{item.country}}</td>
                <td>{{item.contact}}</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
<app-footer></app-footer> -->