<div id="wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div id="main-content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
            <h1>All Videos</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">svl</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Videos</li>
              </ol>
            </nav>
          </div>

          <div class="col-md-6 col-sm-12">
            <label>Search</label>
            <input type="text" class="form-control" [(ngModel)]="globalSearch">
          </div>

        </div>
      </div>



      <div class="row clearfix">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-hover table-custom spacing2">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>User</th>
                  <th>Approved</th>
                  <th>Transcode Status</th>
                  <th>Created Date</th>
                  <th>Deleted</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of allVideos | filter:globalSearch | paginate: { itemsPerPage: entries, currentPage: page }; let i = index">
                  <td> <span *ngIf="page==1">{{(i+1)}}</span>
                    <span *ngIf="page>1">{{((page-1)*itemPerPage)+(i+1)}}</span>
                  </td>

                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.category.name}}</td>
                  <td>{{item.user.username}} <br /> <small>{{item.user.email}}</small></td>
                  <td>{{item.is_approved}}</td>
                  <td>{{item.vimeo_status}}</td>
               
                  <td>{{item.created_at | date}}</td>
                  <td>{{item.is_deleted}}</td>

                  <td class="w100">
                    <button routerLinkActive="router-link-active" type="button" title="Delete"
                      class="btn btn-danger btn-sm">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination-block text-right" *ngIf="allVideos && allVideos.length > itemPerPage">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>
