<section class="footer" >
    <div class="container">
      <!-- <div class="footer_wrap">
      
      <div class="logoimg">
        <img src="assets/logo/logo-full.png" class="logo" alt="logo">
      </div>
   <div class="social">
      <a mat-button href=""></a>
  
      <a  mat-button href="javascript:void(0)"></a>
      <a  mat-button href="javascript:void(0)"></a>
    </div> 
  
    <ul class="list">
      <li>
        <a mat-button href="javascript:void(0)" >Home</a>
      
      </li>
      <li>
        <a mat-button href="javascript:void(0)" >All review</a>
    
      </li>
      <li>
        <a mat-button href="javascript:void(0)" >About</a>
    
      </li>
      <li>
        <a mat-button href="javascript:void(0)" >Contact</a>
      
      </li>
   
   
    </ul> 
  </div> -->
  <!-- <hr class="pt-1"> -->
  <div class="copyrights">
    <div class="copyrights-links"> <a href="javascript:void(0)">Terms &amp; Conditions</a> <a href="javascript:void(0)">Privacy Policy</a></div>
    <div class="social_icon">
      <a mat-button href="javascript:void(0)"><img src="assets/socialicons/facebook-icon.svg" alt="facebook"></a>
      <a  mat-button href="javascript:void(0)"><img src="assets/socialicons/insta-icon.svg" alt="twitter"></a>
      <a  mat-button href="javascript:void(0)"><img src="assets/socialicons/twitter-icon.svg" alt="instagram"></a>
  </div>
  </div>
  </div>
  </section>