<div class="container">
  <section class="login-box">
    <div class="login-sub-box">
      <h2 class="mat-title">Login</h2>
      <form class="userform" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Enter your email" name="email" [(ngModel)]="user.email"
            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
        </mat-form-field>
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <mat-hint *ngIf="email.errors.required">Email is required
          </mat-hint>
        </div>


        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your password" name="password" [(ngModel)]="user.password"
            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
        </mat-form-field>
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <mat-hint *ngIf="password.errors.required">Password is required
          </mat-hint>
        </div>

        <div class="actionbtns ">
          <button mat-raised-button class="primarybtn" type="submit">Log in</button>


        </div>

      </form>


      <div class="forgetpss">
        <a mat-button [routerLink]="['/user/password/forget']">Forgotten password?</a>
      </div>


      <div class="signup-bottom-txt-box">
        <p>Not a member ?</p>

        <div class="actionbtns ">
          <button mat-raised-button class="secondarybtn" [routerLink]="['/user/signup']" type="submit">Sign up</button>


        </div>
      </div>
    </div>
  </section>
</div>




<!-- <div class="auth-main2 particles_js">
    <div class="auth_div vivify fadeInTop">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="login-img">
                            <img class="img-fluid" src="assets/images/login-imgs.png" alt="svl logo" />
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <form class="form-auth-small" name="loginForm" (ngSubmit)="f.form.valid && onLogin()"
                            #f="ngForm" novalidate>
                            <div class="mb-3">
                                <p class="lead">Login to your account</p>
                                
                            </div>
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Email</label>
                                <input type="email" class="form-control round" (keyup)="emailChange()" id="signin-email"
                                    name="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" autofocus="" required>
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.pattern">Invalid email</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Password</label>
                                <input type="password" class="form-control round" name="password" id="signin-password"
                                    value="thisisthepassword" placeholder="Password" [(ngModel)]="user.password"
                                    #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                                    autofocus="" required>
                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="login_btns">
                                <button type="submit" class="btn btn-round btn-block">LOGIN</button>
                            </div>

                        </form>
                    </div>
                </div>


                <div class="pattern">
                    <span class="red"></span>
                    <span class="indigo"></span>
                    <span class="blue"></span>
                    <span class="green"></span>
                    <span class="orange"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div> -->
