<div class="container">
  <section class="login-box">
    <div class="login-sub-box">
      <h2 class="mat-title">Forgot Password?</h2>
      <form name="registerform" (ngSubmit)="f.form.valid && sendForgetEmail()" #f="ngForm" novalidate>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Enter your email" name="email" [(ngModel)]="email" #em="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && em.invalid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required>
          <mat-hint style="color: red;" *ngIf="email && email.invalid && email.touched">Email is required</mat-hint>
        </mat-form-field>
        <div class="actionbtns ">
          <button mat-raised-button class="primarybtn" type="submit">Send Email</button>
        </div>
      </form>
    </div>
  </section>
</div>
