th{
    font-weight: 900;
    font-size: 15px;
    color: #222;    padding: 12px 15px;    background-color: #f3fbff !important;
}

    .secondarybtn {
     
        font-size: 15px;
      
        padding: 6px 14px;
    
    
    }
    .secondarybtn:hover{
        background-color: transparent;
        color: #488bf0;
    }
    /* .mat-elevation-z8 {
    
        border-radius: 15px;
    }
    .example-container{
        
        border-radius: 15px;
    } */
    .example-container{
        padding: 15px 0px 0px 0px;
    }