<app-header></app-header>
<div class="container">
  <div class=" user_profile">
    <div class=""><img class="rounded-circle " src="assets/userimgs/user.jpeg" alt="userimg">

    </div>
    <div class="user_Details mat-typography">
      <h3 class="mat-title ">Aban ch </h3>
      <h4 class="mat-subheading-1 ">Сompany Representative</h4>
    </div>
  </div>

  <section class="mt-5  flex">
    <div class="search_app">

 
 
 

      <div class="example-container mat-elevation-z8" tabindex="0">
        <div class="search_produts">

          <input type="text" matInput placeholder="Search apps, reviews..." class="example-full-width" appearance="outline">
          <mat-icon>search</mat-icon>
        </div>
        <table mat-table [dataSource]="dataSource">

  
      

       
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>App Name </th>
            <td mat-cell *matCellDef="let element" class="user-profile"> 
             <span> <img src="{{element.name}} " class="img-fluid"  alt="appimg"></span>
              <span class="appname">{{element.appname}}</span>
              <br>
              <span class="app_short_Des">{{element.appdesc}}</span></td>
          </ng-container>

     
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Actions </th>
            <td mat-cell *matCellDef="let element">   <button mat-raised-button class="secondarybtn">Details</button> </td>
          </ng-container>

  
        

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
</mat-paginator>
      </div>
    </div>
    <div class="detail_reviews">
    <mat-card>
      <mat-card-content>
        <div class="p_data">
          <div class="pimg">
            <img src="assets/userimgs/2.png" alt="product img">
          </div>
          <div class="pdes">
            <h5 class="mat-display-1">Trello</h5>
          </div>
        </div>
      </mat-card-content>
    </mat-card></div>
  </section>
</div>
<app-footer></app-footer>
