<div id="wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div id="main-content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
            <h1>All Users</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">svl</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Users</li>
              </ol>
            </nav>
          </div>

          <div class="col-md-6 col-sm-12">
            <label>Search</label>
            <input type="text" class="form-control" [(ngModel)]="globalSearch">
          </div>

        </div>
      </div>



      <div class="row clearfix">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-hover table-custom spacing2">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Type</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of users | filter:globalSearch | paginate: { itemsPerPage: entries, currentPage: page }; let i = index">
                  <td> <span *ngIf="page==1">{{(i+1)}}</span>
                    <span *ngIf="page>1">{{((page-1)*itemPerPage)+(i+1)}}</span>
                  </td>

                  <td>{{item.username}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.created_at | date}}</td>

                  <td class="w100">
                    <button *ngIf="!item.is_deleted" (click)="manageAccess(item.id,true)" type="button" title="Block"
                      class="btn btn-danger btn-sm">Block</button>
                    <button *ngIf="item.is_deleted" (click)="manageAccess(item.id,false)" type="button" title="Unblock"
                      class="btn btn-success btn-sm">Unblock</button>


                  </td>

                </tr>

              </tbody>
            </table>
            <div class="pagination-block text-right" *ngIf="users && users.length > itemPerPage">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>
