<app-header>


</app-header>
<div class="container">
  <div class="profile_detail">

    <div class="users_profile">
      <div class="left_Side">
        <div class="box">
          <div class="inf_box" *ngIf="user">
            <div class="information">
              <h4>First Name</h4>
              <h4>{{user.firstName}}</h4>


            </div>
            <hr>
            <div class="information">
              <h4>Last Name</h4>
              <h4>{{user.lastName}}</h4>


            </div>
            <hr>
            <div class="information">
              <h4>Email</h4>
              <h4>
                {{user.email}}</h4>


            </div>
            <hr>
            <div class="information">
              <h4>Contact</h4>
              <h4>{{user.contact}}</h4>


            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="right_Side" *ngIf="account">
        <div class="box">
          <h4><b>Current Balance:</b><span>{{account?.balance | currency }}</span></h4>
          <div class="btns">
            <form #form method="POST" action="https://btcpay.prefex.cc/apps/Tz5ArEWtWYMkQb5umw6P4ZoF8gS/pos">
              <input type="hidden" name="amount" value="50" />
              <input type="hidden" name="email" [(ngModel)]="user.email" />
              <input type="hidden" name="orderId" [(ngModel)]="purchaseId" />
              <input type="hidden" name="notificationUrl"
                value="https://app-reviewers-api.vercel.app/api/account/test" />
              <input type="hidden" name="redirectUrl" value="https://app-reviewers-app.vercel.app/home/profile" />
            </form>
            <button type="button" class="primarybtn " (click)="form.submit()">Purchase</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
