mat-slider {
    width: 300px;
  }

.furkid-txt{
    letter-spacing: normal;
    font-size: 16px;
    line-height: 1.5;
}  

.furkid-para{
    letter-spacing: normal;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
}

.step-num{
    width: auto;
}

.signup-step-wrapper{
    margin-top: 0;
    margin-left: 0;    
}

.furkid-check-box{
    margin-top: 0;
}

.furkid-check-box .form-check label{
    letter-spacing: normal;
    font-size: 16px;
    line-height: 1.5
}

.signup-step-wrapper .form-check-input[type="checkbox"]{
    margin-top: 4px;
}

.furkid-tile{
    margin-top: 0
}

.signup-step-wrapper .form-check-input[type="radio"]{
    width: 16px;
    height: 16px;
}

.signup-step-wrapper textarea{
    height: auto;
}

.furkid-tile .btn-next{
    margin-left: 0;
    margin-top: 20px;
}

.step-txt {    
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5
}

.step-num{
    font-size: 16px;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #212529;   
}

