<app-header></app-header>
<div class="container">

  <div class=" user_profile">
    <div class=""><img class="rounded-circle " src="assets/userimgs/user.jpeg" alt="userimg">

    </div>
    <div class="user_Details mat-typography">
      <h3 class="mat-title ">John Smith </h3>
      <h4 class="mat-subheading-1 ">Сompany Representative</h4>


      <h4></h4>
    </div>
  </div>

  <section>
    <div class="sms_Servcie">
      <h3 class="mat-title ">Send SMS</h3>
      <div class="sms_service_form">
        <form class="userform" (ngSubmit)="f.form.valid && sendSms()" #f="ngForm" novalidate>


          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name*</mat-label>
            <input type="text" matInput placeholder="Enter your name" name="name" [(ngModel)]="sms.name" #name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
          </mat-form-field>
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <mat-hint *ngIf="name.errors.required">Name is required
            </mat-hint>
          </div>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To*</mat-label>
            <input type="number" matInput placeholder="Enter user contact no" name="contact" [(ngModel)]="sms.to"
              #to="ngModel" [ngClass]="{ 'is-invalid': f.submitted && to.invalid }" required disabled>
          </mat-form-field>
          <div *ngIf="f.submitted && to.invalid" class="invalid-feedback">
            <mat-hint *ngIf="to.errors.required">To is required
            </mat-hint>
          </div>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Message*</mat-label>
            <textarea type="text" matInput placeholder="Enter your message" name="msg" [(ngModel)]="sms.text"
              #text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && text.invalid }" required></textarea>
          </mat-form-field>
          <div *ngIf="f.submitted && text.invalid" class="invalid-feedback">
            <mat-hint *ngIf="text.errors.required">Text is required
            </mat-hint>
          </div>



          <div class="actionbtns ">
            <button mat-raised-button class="primarybtn" type="submit">Send SMS</button>


          </div>

        </form>
      </div>
    </div>
  </section>

</div>
<app-footer></app-footer>
